{{template "base"}}

{{define "title"}}Index{{end}}

{{define "main"}}
    <h1>Home</h1>
    <div hx-get="/api/cronjobs" hx-trigger="load" hx-target="#details">Get Data</div>

    <pre id="details"></pre>
{{end}}

