{{template "base" .}}

{{define "title"}}Index{{end}}

{{define "main"}}
    <h1>Jobs</h1>

    {{ if .error }}
        <p>{{.error}}</p>
    {{- else }}
        {{template "table" .Jobs}}
    {{end}}
{{end}}

